.background {
	height: 500px;
	background-image: url(../../../image/mainPhoto.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width: 100%;
	background-attachment: fixed;

	@media (768px <= width < 1200px) {
		height: 300px;
	}
	@media (320px <= width < 768px) {
		height: 200px;
	}
}
