.nav {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
	P {
		color: rgb(207, 207, 207);
		text-transform: uppercase;
		margin-left: 10px;
		font-weight: 800;
	}
	.listMenu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
		margin-right: 10px;
		li {
			.link {
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color: #d3e97a;
				}
				&.active {
					color: #d3e97a;
					padding: 10px;
					border-bottom: 1px solid #d3e97a;
				}
			}
		}
	}
}
