.nav {
	display: flex;
	justify-content: space-between;
	margin: 2vh 0;
	P {
		color: rgb(207, 207, 207);
		text-transform: uppercase;
		margin-left: 10px;
		font-weight: 800;
	}
	.listMenu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
		margin-right: 10px;
		@media (320px <= width < 992px) {
			display: none;
		}
		li {
			.link {
				color: white;
				text-transform: uppercase;
				&:hover {
					color: #fbf2b1;
				}
				&.active {
					color: #fbf2b1;
				}
			}
		}
	}
}
