.gridContainer {
	display: grid;
	grid-template-columns: 20% auto;
	height: 100vh;
	gap: 15px;
	padding-top: 40px;
}

.leftPanel {
	background-color: rgb(40, 40, 40);
	padding: 20px;
}

.rightPanel {
	background-color: rgb(40, 40, 40);
}
