.gridContainer {
	display: grid;
	grid-template-columns: 20% 80%;
	height: 100vh;
	gap: 15px;
}

.leftPanel {
	background-color: rgb(40, 40, 40);
	padding: 20px;
}

.rightPanel {
	background-color: rgb(40, 40, 40);
	padding: 20px;
}
