.listsDrop {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	.left,
	.right {
		border: 2px dashed #fff;
		padding: 12px 24px;
		min-height: 400px;
		min-width: 300px;
		.list {
			min-height: 400px;
			.item {
				padding: 12px 24px;
				margin: 8px 0;
				background-color: #f0f0f0;
				border: 1px solid #ccc;
				border-radius: 4px;
				cursor: move;
				transition: background-color 0.3s;
				border-radius: 4px;
			}

			.emptyZone {
				color: #fff;
				text-align: center;
			}
		}
	}
}
